In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/gemstone.csv")

In [3]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [5]:
df = df.drop(labels = 'id', axis =1)

In [9]:
#Independent and dependent features
X = df.drop(labels='price',axis=1)
y = df[['price']]

In [33]:
X.head()

   carat        cut color clarity  depth  table     x     y     z
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77

In [24]:
#Define which column should be ordinal encoded and which should be scaled
numerical_col = df.select_dtypes(exclude='object').columns
categorical_col = df.select_dtypes(include='object').columns

In [38]:
numerical_col = numerical_col.drop(labels='price')

In [39]:
numerical_col

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [95]:
#Define custom ranking for each ordinal variables
cut_categories = ['Fair','Good','Very Good','Premium','Ideal']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']
color_categories= ['D','E','F','G','H','I','J']

In [96]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer

In [97]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [98]:
## Numerical Pipeline
num_pipeline = Pipeline(
    steps = [
        ('imputer',SimpleImputer(strategy='median')),
        ('scaler',StandardScaler())
    ]
)

##Categorical pipeline
cat_pipeline = Pipeline(
    steps = [
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinal_encoder',OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories])),
        ('scaler',StandardScaler())
    ]
)

preprocessor = ColumnTransformer([
        ('num_pipeline',num_pipeline,numerical_col),
        ('cat_pipeline',cat_pipeline,categorical_col)
])

In [99]:
## Train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state =42)

In [100]:
X.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [101]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z'])
X_test = pd.DataFrame(preprocessor.transform(X_test),columns=['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z'])

In [102]:
X_train

,carat,cut,color,clarity,depth,table,x,y,z
0,-0.823144,-1.129988,-0.641897,-0.780451,-0.835103,-0.876024,0.874100,-0.936747,1.350746
1,0.945023,-1.777823,0.921902,1.073226,1.166389,0.946633,-1.137644,0.910853,0.684455
2,1.958484,0.165682,0.400636,1.703116,1.755063,1.742237,-0.131772,0.910853,0.018164
3,-0.995648,-0.574701,-0.641897,-1.122391,-1.161138,-1.165334,0.874100,-0.320880,2.017037
4,-0.995648,0.258230,0.400636,-1.176382,-1.152082,-1.136403,-1.137644,1.526720,-0.648127
...,...,...,...,...,...,...,...,...,...
135496,-0.629077,-1.500179,1.964434,-0.546492,-0.518125,-0.644575,-1.137644,-0.936747,-0.648127
135497,2.411307,0.443325,2.485700,1.919078,1.872797,1.930288,-1.137644,-0.320880,-0.648127
135498,0.923460,0.906065,0.400636,0.992240,0.921862,1.047891,-0.131772,0.294987,0.018164
135499,-1.038774,-0.667249,-0.641897,-1.212375,-1.197364,-1.252127,-1.137644,0.294987,2.017037
135500,-1.038774,-0.019414,0.921902,-1.239371,-1.215477,-1.208731,-1.137644,0.294987,-1.314417

In [103]:
X_test.head()

,carat,cut,color,clarity,depth,table,x,y,z
0,-0.629077,0.258230,-0.120630,-0.600482,-0.581521,-0.572248,0.874100,-1.552614,-0.648127
1,2.605374,-2.148014,-0.120630,2.126042,2.198832,1.959219,-1.137644,0.294987,-1.314417
2,-1.125026,-1.222536,0.921902,-1.374347,-1.414721,-1.469110,-0.131772,-0.936747,2.017037
3,-1.017211,-0.574701,0.921902,-1.158385,-1.161138,-1.194265,-0.131772,1.526720,2.017037
4,0.858771,0.628421,-0.641897,0.947248,0.985258,1.004495,0.874100,0.910853,-0.648127

In [104]:
#Model Training

In [105]:
from sklearn.linear_model import LinearRegression,Lasso,ElasticNet,Ridge
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [106]:
#Train multiple models

In [115]:
import numpy as np

In [117]:
models = {
    'Linear_regression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'ElasticNet':ElasticNet()
}

model_perf = []
for i,j in models.items():
    #print(j)
    model = j
    #Model training
    model.fit(X_train,y_train)

    #Model prediction
    y_pred = model.predict(X_test)

    r2score = r2_score(y_test,y_pred)
    mse = mean_squared_error(y_test,y_pred)
    mae = np.sqrt(mse)

    model_perf.append({
        'Model Name': i,
        'R_squared': r2score,
        'mse':mse,
        'mae':mae
    })

In [118]:
model_perf

[{'Model Name': 'Linear_regression',
  'R_squared': 0.9362906819996045,
  'mse': 1029473.3531156896,
  'mae': 1014.6296630375487},
 {'Model Name': 'Lasso',
  'R_squared': 0.9362869814082755,
  'mse': 1029533.150650549,
  'mae': 1014.6591302750638},
 {'Model Name': 'Ridge',
  'R_squared': 0.9362900967491632,
  'mse': 1029482.8101268951,
  'mae': 1014.634323353441},
 {'Model Name': 'ElasticNet',
  'R_squared': 0.8544967219374031,
  'mse': 2351174.871397875,
  'mae': 1533.3541245902313}]